.section {
  height: 100vh;
}

.heading {
  text-align: center;
  padding-top: 2rem;
}

.accordian {
  list-style: none;
  margin: 1rem;
  /* justify-self: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.accordianListItem {
  border: 1px solid #333;
  width: 400px;
  padding: 20px;
}

.accordianListItemHeadingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  cursor: pointer;
}

.accordianListItemToggleIcon {
  cursor: pointer;
}
