.section {
  height: 100vh;
  background-color: rgba(194, 201, 198, 0.517);
}

.heading {
  text-align: center;
  padding-top: 1rem;
}

.modalContainer {
}

.modal {
  max-width: 400px;
  height: 400px;
  box-shadow: 1px 1px 10px #333;
  margin: 0 auto;
  position: fixed;
  top: 10%;
  right: 0;
  left: 0;
  z-index: 20;
  background-color: white;
  border-radius: 10px;
}

.closeIcon {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font-size: 1.5rem;
}

.modalOverlay {
  background-color: #3333338e;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.modalTitle {
  text-align: center;
  margin-top: 20px;
}

.modalCloseBtn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 5px 10px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: all 300ms ease-in-out;

  &:hover {
    background-color: rgb(136, 4, 4);
    color: white;
  }
}

.modalBody {
  padding: 20px;
  border: 2px solid rgba(0, 0, 0, 0.127);
  margin: 10px;
  border-radius: 10px;
  height: 80%;
  overflow-y: scroll;
}

.modalLaunchBtnContainer {
  place-self: center;
}

.modalLaunchBtn {
  padding: 5px 10px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: all 300ms ease-in-out;
  margin: 2rem 0;

  &:hover {
    background-color: rgb(136, 4, 4);
    color: white;
  }
}
